<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Test Channel.</h1>
<script>
    var statusSocket = new WebSocket('wss://' + window.location.host + '/ws');
    statusSocket.onmessage = function (e) {
        console.log(e);
        var p = document.createElement("p");
        var node = document.createTextNode(e.data);
        p.appendChild(node);
        document.getElementById('box').appendChild(p);
    };
    function send() {
        statusSocket.send("knock knock");
    }

</script>

<div id="box">

</div>
<button onclick="send()"> Send</button>

</body>
</html>