{% extends "pages/usercenter/base_site.html" %}

{% block title %} 个人中心1 {% endblock title %}
{% load static %}
{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <img src="/xcx/get-qr?activity_id={{ activity.id }}" alt="QR CODE">
    </div>
  </div>
</div>
  <div class="right_col" role="main">
    <div class="row">

      <div class="dropdown">
        <a data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false" id="select-activity">
          <h3>活动管理&nbsp;<small>{{ activity.name }}</small>
          </h3>
        </a>
        <ul class="dropdown-menu" aria-labelledby="select-activity">
          {% for activity in activities %}
            <li><a href="{{ request.path }}?activity={{ activity.id }}">{{ activity.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="row">
{#    <img src="/xcx/get-qr?activity_id={{ activity.id }}">#}
      <div class="jumbotron">
        <h1 class="display-4">{{ activity.name }} &nbsp;
          <i class="fa fa-qrcode"  data-toggle="modal" data-target=".bs-example-modal-sm"></i>
        </h1>
        <p class="lead">
          {% if activity.start_time != None %}
            {{ activity.start_time| date:"Y-n-j H:i" }}
          {% else %}
            未开始
          {% endif %}
          -
          {% if activity.end_time != None %}
            {{ activity.end_time| date:"Y-n-j H:i" }}
          {% else %}
            未结束
          {% endif %}
        </p>
        <hr class="my-4">
        <p>邀请码：<strong>{{ invite_code }}</strong></p>
        <a class="btn btn-primary btn-lg" href="/usercenter/participant?actvity={{ activity.id }}"
           role="button">查看用户</a>
        <a class="btn btn-primary btn-lg" href="/usercenter/danmu?actvity={{ activity.id }}" role="button">查看弹幕</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-6">
        <table id="awards-table" class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>奖项</th>
            <th>奖品</th>
            <th>总量</th>
            <th>剩余</th>
          </tr>
          </thead>
          <tbody>
          {% for award in awards %}
            <tr>
              <td>{{ award.award_name }}</td>
              <td>{{ award.prize_name }}</td>
              <td>{{ award.amount }}</td>
              <td>{{ award.lucky_dogs.count }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-6">
        <table id="dogs-table" class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>奖项</th>
            <th>Id</th>
            <th>昵称</th>
          </tr>
          </thead>
          <tbody>
          {% for award in awards %}
            {% for dog in award.lucky_dogs.all %}
              <tr>
                <td>{{ award.award_name }}</td>
                <td>{{ dog.openid }}</td>
                <td>{{ dog.nickName }}</td>
              </tr>
            {% endfor %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  {% include 'pages/usercenter/include_datatables_js.html' %}
  <script type="text/javascript" src="{% static "pages/js/usercenter/activity.js" %}"></script>


{% endblock javascripts %}
