{% extends "pages/usercenter/base_site.html" %}

{% block title %} 个人中心1 {% endblock title %}
{% load static %}
{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="row">

      <div class="dropdown">
        <a data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false" id="select-activity">
          <h3>活动管理&nbsp;<small>{{ activity.name }}</small>
          </h3>
        </a>
        <ul class="dropdown-menu" aria-labelledby="select-activity">
          {% for activity in activities %}
            <li><a href="{{ request.path }}?activity={{ activity.id }}">{{ activity.name }}</a></li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}

{% endblock javascripts %}
