{% extends "pages/usercenter/base_site.html" %}

{% block title %} 个人中心1 {% endblock title %}
{% load static %}
{% block stylesheets %}
  {{ block.super }}
  <link href="{% static "pages/css/usercenter/usercenter.css" %}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-calendar-check-o"></i>举办活动</span>
        <div class="count">8次</div>
        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> 总参与人数</span>
        <div class="count">1600人</div>
        <span class="count_bottom">平均每场<i class="green">200</i>人</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i>活动总时间</span>
        <div class="count">5小时</div>
        <span class="count_bottom">平均每次持续<i class="green">5</i>小时</span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-gift"></i>总抽奖次数</span>
        <div class="count">130次</div>
        <span class="count_bottom">平均每场<i class="green">10</i>次</span>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-comment"></i>总弹幕数</span>
        <div class="count">2315条</div>
        <span class="count_bottom">平均每场<i class="green">120</i>条</span>
      </div>
    </div>
    <!-- /top tiles -->


    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">

          <div class="row x_title">
            <div class="col-md-12">
              <h3>弹幕热度图</h3>
            </div>
          </div>

          <div class="col-md-9 col-sm-9 col-xs-12">
            <div id="chart_plot_01" data-stuff='["a","b","c"]' class="demo-placeholder"></div>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-12 bg-white list-group" style="overflow-y: auto;"
              id="history-activity-list">

            {% for activity in activities %}
              <a class="list-group-item list-group-item-action"
                 id="activity-{{ activity.id }}"
                 onclick="getParticipants({{ activity.id }})">
                {{ activity.name }}
              </a>
            {% endfor %}
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>


  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- Chart.js -->
  <script type="text/javascript" src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script type="text/javascript" src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script type="text/javascript" src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script type="text/javascript" src="/static/vendors/Flot/jquery.flot.js"></script>
  <script type="text/javascript" src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script type="text/javascript" src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script type="text/javascript" src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script type="text/javascript" src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script type="text/javascript" src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script type="text/javascript" src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script type="text/javascript" src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script type="text/javascript" src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script type="text/javascript" src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script type="text/javascript" src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script type="text/javascript" src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>

  <!-- Table -->
  <script type="text/javascript" src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script type="text/javascript" src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script type="text/javascript" src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script type="text/javascript"
          src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script type="text/javascript" src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script type="text/javascript"
          src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script type="text/javascript" src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script type="text/javascript" src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script type="text/javascript" src="/static/vendors/jszip/dist/jszip.min.js"></script>
  <script type="text/javascript" src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script type="text/javascript" src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
  <script type="text/javascript" src="{% static "pages/js/usercenter/usercenter.js" %}"></script>

{% endblock javascripts %}

