{# include datatable's javascript files #}
<script src="https://cdn.bootcss.com/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
{#<script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>#}
<script src="https://cdn.bootcss.com/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
{#<script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>#}
<script src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
{#<script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>#}
<script src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.bootstrap.min.js"></script>
{#<script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>#}
<script src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
{#<script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>#}
<script src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
{#<script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>#}
<script src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>
{#<script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>#}
<script src="https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js"></script>
{#<script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>#}
<script src="https://cdn.datatables.net/keytable/2.1.2/js/dataTables.keyTable.min.js"></script>
{#<script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>#}
<script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
{#<script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>#}
<script src="https://cdn.datatables.net/responsive/2.1.0/js/responsive.bootstrap.min.js"></script>
{#<script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>#}
<script src="https://cdn.datatables.net/scroller/1.4.2/js/dataTables.scroller.min.js"></script>
{#<script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>#}
<script src="https://cdn.bootcss.com/jszip/2.6.0/jszip.min.js"></script>
{#  <script src="/static/vendors/jszip/dist/jszip.min.js"></script>#}
<script src="https://cdn.bootcss.com/pdfmake/0.1.0/pdfmake.min.js"></script>
{#  <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>#}
<script src="https://cdn.bootcss.com/pdfmake/0.1.0/vfs_fonts.js"></script>
{#  <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>#}
