<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sampling | 用户中心</title>
</head>

<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

<body>

<div class="container">
  <div class="row">
    <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
      <a class="navbar-brand" href="/">Sampling<span>三百两</span></a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/sampling-luck-draw/lottery_client_server/releases">立即下载</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="signin">登录</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">帮助</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">关于我们</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="row">
    <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav affix-top">
                <li class="active"><a href="#dropdowns"><i class="icon-chevron-right"></i> 下拉菜单</a></li>
                <li><a href="#buttonGroups"><i class="icon-chevron-right"></i> 按钮组</a></li>
                <li><a href="#buttonDropdowns"><i class="icon-chevron-right"></i> 按钮下拉菜单</a></li>
                <li><a href="#navs"><i class="icon-chevron-right"></i> 导航</a></li>
                <li><a href="#navbar"><i class="icon-chevron-right"></i> 导航条</a></li>
                <li><a href="#breadcrumbs"><i class="icon-chevron-right"></i> 面包屑(路径式)导航</a></li>
                <li><a href="#pagination"><i class="icon-chevron-right"></i> 分页</a></li>
                <li><a href="#labels-badges"><i class="icon-chevron-right"></i> 标签和标记</a></li>
                <li><a href="#typography"><i class="icon-chevron-right"></i> 排版</a></li>
                <li><a href="#thumbnails"><i class="icon-chevron-right"></i> 缩略项</a></li>
                <li><a href="#alerts"><i class="icon-chevron-right"></i> 警告对话框</a></li>
                <li><a href="#progress"><i class="icon-chevron-right"></i> 进度条</a></li>
                <li><a href="#media"><i class="icon-chevron-right"></i> 媒体对象</a></li>
                <li><a href="#misc"><i class="icon-chevron-right"></i> 杂项</a></li>
            </ul>
        </div>
  </div>
</div>

</body>

</html>
